<div class="col-md-6">
    <h1><%= article.title %></h1>
    <p><%= article.description %></p>
    <p><%= article.content %></p>
    <p>
      <img src="/images/<%= article.image %>" width="400" height="250" alt="">
    </p>
    <a href="/admin"><button class="btn btn-primary">Back</button>  </a>
  </div> 